.firstDiv{
  color: blue;
}

.secondDiv{
  color: red;
}

#singledout{
  color: green;
  text-decoration: line-through;
}

h3 + ul{
  border: 4px dotted purple;
}

li a{
  color: red;
}
li a[href = "www.npr.com"]{
  color: blue;
  border: 5px solid orange;
}
